name: Build Fat APK

on:	
  push:
    paths-ignore:
      - '.github/workflows/**'
    branches: [ master ]
  workflow_dispatch:
    inputs:
      java_version:
        description: 'Java version'     
        required: true
        default: '17'
      java_distribution:
        description: 'Java distribution'     
        required: true
        default: 'temurin'

env:
  KEYSTORE_PASS: ${{ secrets.KEYSTORE_PASS }}
  ALIAS_NAME: ${{ secrets.ALIAS_NAME }}
  ALIAS_PASS: ${{ secrets.ALIAS_PASS }}

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: ${{ github.event.inputs.java_distribution || 'temurin' }}
        java-version: ${{ github.event.inputs.java_version || '17' }}

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'

    - name: Override Dependencies
      run: |
        sudo add-apt-repository ppa:rmescandon/yq -y
        sudo apt update
        sudo apt install yq -y
        
        # Add a temp fix for dio
        # yq w -i pubspec.yaml dependencies.dio 4.0.0-beta5

    - name: Flutter Build Pre-Checks Phase 1
      run: |
        flutter doctor --verbose
        flutter pub get --verbose
  
    - name: Flutter Build Pre-Checks Phase 2
      run: |
        flutter packages pub run --verbose build_runner build --delete-conflicting-outputs

    - name: Flutter Test
      continue-on-error: true
      run: |
        flutter test --verbose

    - name: Flutter Build Fat APK
      continue-on-error: true
      run: flutter build apk --verbose --dart-define=IS_GOOGLEPLAY=false

    - name: Send to me via Telegram
      continue-on-error: true
      env:
        CHAT_ID: ${{ secrets.CHAT_ID }}
        BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
      run: |
        OUTPUT="build/app/outputs/apk/release"
        export name=$(find $OUTPUT -name "app-universal-release.apk")
        curl https://api.telegram.org/bot${BOT_TOKEN}/sendDocument -X POST -F chat_id="$CHAT_ID" -F caption="[Fat APK] $GITHUB_SHA" -F document="@$name" > /dev/null

    - uses: actions/upload-artifact@v4
      name: Upload Output Folder
      with:
        name: PixEz-flutter
        path: build/app/outputs

    - uses: actions/upload-artifact@v4
      name: Upload Fat APK
      with:
        name: app-release
        path: build/app/outputs/apk/release/app-universal-release.apk
